n8n-workflow-sample.json
{
  "name": "ShopSphere Order Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-test/e-commerce",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook - Receive Order",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "e-commerce-orders"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "orderId",
              "value": "={{ $json.orderId }}"
            },
            {
              "name": "customerName",
              "value": "={{ $json.customerInfo.fullName }}"
            },
            {
              "name": "customerEmail",
              "value": "={{ $json.customerInfo.email }}"
            },
            {
              "name": "customerPhone",
              "value": "={{ $json.customerInfo.phone }}"
            },
            {
              "name": "shippingAddress",
              "value": "={{ $json.shippingAddress.address }}, {{ $json.shippingAddress.city }}, {{ $json.shippingAddress.state }} {{ $json.shippingAddress.zipCode }}"
            },
            {
              "name": "orderTotal",
              "value": "={{ $json.orderDetails.total }}"
            },
            {
              "name": "itemCount",
              "value": "={{ $json.orderDetails.items.length }}"
            },
            {
              "name": "paymentMethod",
              "value": "={{ $json.paymentMethod }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-node",
      "name": "Extract Order Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Order received successfully\",\n  \"orderId\": \"{{ $json.orderId }}\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@shoposphere.com",
        "toEmail": "={{ $('Extract Order Data').item.json.customerEmail }}",
        "subject": "Order Confirmation - {{ $('Extract Order Data').item.json.orderId }}",
        "text": "=Dear {{ $('Extract Order Data').item.json.customerName }},\n\nThank you for your order!\n\nOrder ID: {{ $('Extract Order Data').item.json.orderId }}\nTotal Amount: ${{ $('Extract Order Data').item.json.orderTotal }}\nPayment Method: {{ $('Extract Order Data').item.json.paymentMethod }}\n\nShipping Address:\n{{ $('Extract Order Data').item.json.shippingAddress }}\n\nWe'll send you another email when your order ships.\n\nBest regards,\nShopSphere Team",
        "options": {}
      },
      "id": "email-customer",
      "name": "Send Customer Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        900,
        200
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fromEmail": "orders@shoposphere.com",
        "toEmail": "admin@shoposphere.com",
        "subject": "New Order Received - {{ $('Extract Order Data').item.json.orderId }}",
        "text": "=New order received!\n\nOrder ID: {{ $('Extract Order Data').item.json.orderId }}\nCustomer: {{ $('Extract Order Data').item.json.customerName }}\nEmail: {{ $('Extract Order Data').item.json.customerEmail }}\nPhone: {{ $('Extract Order Data').item.json.customerPhone }}\n\nOrder Total: ${{ $('Extract Order Data').item.json.orderTotal }}\nItems: {{ $('Extract Order Data').item.json.itemCount }}\nPayment: {{ $('Extract Order Data').item.json.paymentMethod }}\n\nShipping Address:\n{{ $('Extract Order Data').item.json.shippingAddress }}\n\nPlease process this order promptly.",
        "options": {}
      },
      "id": "email-admin",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        900,
        400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "create",
        "base": "YOUR_AIRTABLE_BASE_ID",
        "table": "Orders",
        "columns": {
          "mappings": [
            {
              "column": "Order ID",
              "value": "={{ $json.orderId }}"
            },
            {
              "column": "Customer Name",
              "value": "={{ $json.customerInfo.fullName }}"
            },
            {
              "column": "Email",
              "value": "={{ $json.customerInfo.email }}"
            },
            {
              "column": "Phone",
              "value": "={{ $json.customerInfo.phone }}"
            },
            {
              "column": "Total",
              "value": "={{ $json.orderDetails.total }}"
            },
            {
              "column": "Status",
              "value": "Pending"
            },
            {
              "column": "Order Date",
              "value": "={{ $json.orderDate }}"
            }
          ]
        }
      },
      "id": "airtable-node",
      "name": "Save to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        900,
        600
      ],
      "disabled": true,
      "credentials": {
        "airtableApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable account"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Receive Order": {
      "main": [
        [
          {
            "node": "Extract Order Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Order Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Customer Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "shopsphere-orders",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "tags": [
    {
      "name": "e-commerce",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "1"
    }
  ]
}
