n8n-backend/E-Commerce response.json
{
  "name": "E-Commerce response",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.query }}"
      },
      "id": "ccca7b7a-d073-4532-82dd-3339a320f1c4",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -272,
        -64
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## Agent",
        "height": 672,
        "width": 752,
        "color": 3
      },
      "id": "ff4910ec-71fb-406b-8742-4ca3eaaed503",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        -384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "2c87420f-3489-4c65-ab49-3ea016ab0f04",
      "name": "Reranker Cohere",
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "position": [
        32,
        112
      ],
      "typeVersion": 1,
      "credentials": {
        "cohereApi": {
          "id": "5XbzVMptWCxIUxUC",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this to retrieve information from our vector database",
        "pineconeIndex": {
          "__rl": true,
          "value": "costmersupportagent",
          "mode": "list",
          "cachedResultName": "costmersupportagent"
        },
        "topK": 10,
        "useReranker": true,
        "options": {}
      },
      "id": "fc755383-dda2-409f-8109-bc750636af7a",
      "name": "Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -144,
        -64
      ],
      "typeVersion": 1.3,
      "credentials": {
        "pineconeApi": {
          "id": "LwH3PvHT5zBaEXgK",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -128,
        144
      ],
      "id": "086ffd5a-2b54-4733-9f3c-3398187de1c2",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "zo6xyjhNvlOruMyU",
          "name": "paid test"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "=You are ShopSphere's helpful customer support assistant.\n\nYour job is simple:\n1. ALWAYS check the vector store first.\n2. Use ONLY information retrieved from the vector store to answer customer questions.\n3. DO NOT generate information that does not exist in the retrieved documents.\n\nResponse Style Rules:\n- Do NOT say “based on the document”, “as per the PDF”, “according to our database”, or anything similar.\n- Speak naturally, like a real ShopSphere support agent talking to a customer.\n- If the answer exists in the retrieved text, give a direct, confident answer as ShopSphere.\n- If the information does NOT appear in the retrieved documents, reply politely and helpful, but DO NOT make up details.\n\nFallback rule when info is missing:\n- Acknowledge that you don’t have that information available.\n- Offer next helpful step (contact method, link, etc.)\n\nGeneral Tone:\n- Clear, friendly, professional.\n- No robotic phrasing or AI disclaimers.\n- Refer to ShopSphere in first-person (\"we\", \"our\", \"ShopSphere offers...\").\n\nYour priority:\nUse the retrieved RAG results **as the single source of truth**.\nNever override it with your own reasoning, guessing, or external knowledge.\n\nanswer in simple plean words"
        }
      },
      "id": "2efa5c24-280f-47e1-8343-9c542cda2666",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -352,
        -288
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        464,
        -288
      ],
      "id": "29c0a55a-0890-434e-be72-6047343c2e69",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      answer: $json.output ?? \"Sorry, I couldn't find an answer.\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -288
      ],
      "id": "84027004-0da6-4830-a57b-b96f80728348",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=costemersupport",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -288
      ],
      "id": "796bb189-8d46-415e-8d3a-956c36c83df4",
      "name": "Webhook",
      "webhookId": "5ddd8cb6-21da-45c2-8ffb-858b5000b226"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -416,
        -80
      ],
      "id": "002b39c4-3c4d-4ff3-b834-362ff221577d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YqvCvLjzLHvqMJq5",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Vector Store",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1ddd713-3997-4fa7-b561-0e054f6e5fe4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4b6612bd26fa5fa8c1ce4c787e05ed70c30f106d5395abc69a00922648a930f"
  },
  "id": "ZoeQefkPv8cTX5Io",
  "tags": []
}